<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'Bookmark-icon.png' %>
  <title>BookMark - Sajjad</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div id="email">
  <strong>Email: </strong><a href="mailto:sajjadmurtaza.nxb@gmail.com" target="_top">sajjadmurtaza.nxb@gmail.com</a>
</div>

</body>
</html>
